<%- include Partials/header.ejs %>
    <!--navigation bar-->  
    <%- include Partials/main_nav.ejs %>
<div class="container" style="padding-top:20px ;">
  <h1 class="display-4">Welcome to <%= title %></h1>
  <p class="lead">this is my website .</p>
  
  <p>these buttons lead you the pages that you need.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/project" role="button">Project</a>
    
  </p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="/services" role="button">Services</a>
    
  </p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/about" role="button">About me </a>
    
  </p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/contact" role="button">Contact </a>
    
  </p>
</div>
<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>
   

